.idea/
.project
.settings/
.classpath
**.iml
wishlist.txt

target/
Common/target/
Discord-Bot/target/
RunteLite-Plugin/target/
PluginHub-Project-Generator/target
PluginHub-Project/build

starserver-config.json
